@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.header {
	text-align: center;
	background-color: burlywood;
	color: darkblue;
}

.criminalList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	
}

.criminal__card, .witness {
	background-color: darkgoldenrod;
	color: darkblue;
	border: 1px dotted black;
	margin: 1rem;
	padding: 0.5rem;
	flex-basis: 25%;
	
}
.officerHeader,.officerList {
	text-align: center;
	background-color: darkgoldenrod;
	color: darkblue;
}
